*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body{
    background: #f5f5f5;
}

/* HEADER */
.hero{
    background: #425c4f;
    padding: 40px;
    color: white;
}
.hero ul{
    list-style: none;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links{
    display: flex;
    gap: 25px;
}

.nav-links a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero-content{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-img{
    width: 420px;
}

.btn{
    margin-top: 20px;
    padding: 12px 25px;
    background: #f2c14e;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}
.btn1{
    margin-top: 20px;
    padding: 12px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/* PRODUCTS */
.products{
    padding: 60px;
}

.products h2{
    font-size: 28px;
    margin-bottom: 20px;
}

.product-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.card{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.card img{
    width: 150px;
}

.card h3{
    margin-top: 10px;
    font-size: 20px;
}

.card p{
    margin-top: 5px;
    color: #444;
}